Repository Mcude28/Practice_repository, pull requests merged in 2023-06, with the labels that each got.

#6 Feature michael
  README.md
  html_practice/intro-to-html/test_helloWorld.py
Labels: documentation, test

#7 more detailed README
  README.md
Labels: documentation

#8 adding second python test
  html_practice/intro-to-html/random_test.py
Labels: test

#9 pandas, requiremnts, install test
  README.md
  html_practice/intro-to-html/random_test.py
  requirements.txt
Labels: test

#10 test
  html_practice/intro-to-html/test_helloWorld.py
Labels: test

#14 Update python-app.yml
  .github/workflows/python-app.yml
  Makefile
Labels: test
